.container {
	max-width: 70%;
	border: solid 1px #444;
	border-radius: 10px;
	box-shadow: 8px 10px 5px rgba(0,0,0,.5);
	color: #eee;
	padding: 20px;
	margin: 100px auto 0;
}
h1 {
	background: #666;
	text-transform: capitalize;
	text-align: center;
	padding: 17px 0;
	border-radius: 25px;
	font-size: 2.5em;
}
hr {
	background-color: #444;
	margin: 20px 0 13px;
}
.question {
	color: #444;
	font-size: 1.2em;
}
.answers-box {
	margin-top: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 70px;
}
.answer p {
	background-color: #666;
	text-transform: capitalize;
	border-radius: 25px;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 19px;
	font-size: 1.2em;
	cursor: pointer;
}
.question-info {
	color: #444;
	text-transform: capitalize;
}


